<div class="form">
<%= simple_form_for (@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <div class="actions">
    <%= link_to "返回首頁", accounts_path, class:'btn btn-link btn-lg' %>|
    <%= f.submit "新增/更新" ,class:'btn btn-link btn-lg'%>
    
  </div>

  <div class="field">
    
    <%= f.input :buy_date, as: :date ,:input_html => { :value => Date.today}, html5: true, label: "購買日期：" %></br>
	  
    <%= f.input :name, label:'項目：' %></br>
    
    <%= f.input :num ,label:"數量：" %></br>
    
    <%= f.input :buy_price ,label:"金額：" %></br>
    
    <%= f.input :buy_store ,label:"購賣商家：" %></br>
    
    <%= f.association :sort, label:'購買類別：' %>
  </div>
  
  
<% end %>
</div>