<h1>本月預算</h1>
<%= link_to '返回首頁', accounts_path ,class:'btn btn-link btn-lg'%>|
<%= link_to '新增預算', costs_path ,class:'btn btn-link  btn-lg'%>
<h3><%= @month %>月，總共花了<%= @month_total[@month-1] %>元，預算為</h3>
<table class="table table-hover">
<thead>
  <tr>
    <th>類別</th>
    <th>起始日</th>
    <th>結束日</th>
    <th>預算金額</th>
    <th>剩餘金額</th>
  </tr>
</thead>
  <% @month_cost[@month-1].each do |month_cost| %>
    <tr>
        <td><%= month_cost.sort.try(:title) %></td>
        <td><%= month_cost.start_time %></td>
        <td><%= month_cost.end_time %></td>
        <td><%= month_cost.cost_price %></td>
        <td>
          <% if  month_cost.sort.try(:title)=="早餐"%>
            <%= month_cost.cost_price-@month_breakfast_total[@month-1]%>
          <% elsif   month_cost.sort.try(:title)=="午餐"%>
            <%= month_cost.cost_price-@month_lunch_total[@month-1]%>
          <% elsif   month_cost.sort.try(:title)=="晚餐"%>
            <%= month_cost.cost_price-@month_dinner_total[@month-1]%>
          <% else %>
            <%= month_cost.cost_price-@month_drink_total[@month-1]%>
          <% end %>
        </td>
    </tr>
  <% end %>
</table>