<p id="notice"><%= notice %></p>

<p>
  <strong>Buy date:</strong>
  <%= @account.buy_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Num:</strong>
  <%= @account.num %>
</p>

<p>
  <strong>Buy price:</strong>
  <%= @account.buy_price %>
</p>

<p>
  <strong>Buy store:</strong>
  <%= @account.buy_store %>
</p>

<p>
  <strong>Store:</strong>
  <%= @account.sort.try(:title) %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
